@charset "utf-8";

//------------------------------------------------------------------------------------------------
//
//  基底変数
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  カラー / グレースケール
//--------------------------------------------------------------------
$white: #ffffff;

$black: #000000;

$snow-white: #eff3f6;

$light-gray: #f3f3f3;

$light-midium-gray: #c6c6c6;

$midium-gray: #787878;

$dark-gray: #333333;

$bulma-light-gray: #dbdbdb;

$black-gray: #c6c6c6;

$silver-white: #f8f8f8;

$blight-gray: #e5e5e5;

//--------------------------------------------------------------------
//  カラー / パレット
//--------------------------------------------------------------------
$sky-blue: #49a5d7;

$midnight-blue: #1d364d;

$dark-blue: #0e2235;

$red: #bd081c;

$coral: #ec6941;

$dark-navy: #091521;

$purple: #662871;

//--------------------------------------------------------------------
//  タイポグラフィ
//--------------------------------------------------------------------
//英語メイン
$main-en: "Noto Sans", sans-serif;

//日本語
$jp: "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", 　sans-serif;


//--------------------------------------------------------------------
//  文字サイズ
//--------------------------------------------------------------------
$font-size-xxxxl: 2.0rem;
$font-size-xxxl: 1.8rem;
$font-size-xxl: 1.6rem;
$font-size-xl: 1.4rem;
$font-size-l: 1.2rem;
$font-size-m: 1rem;
$font-size-s: .8rem;
$font-size-xs: .6rem;

//--------------------------------------------------------------------
//  文字太さ
//--------------------------------------------------------------------
$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;

//--------------------------------------------------------------------
//  Z-index
//--------------------------------------------------------------------
$z-index-header: 10;

