@charset "utf-8";

//------------------------------------------------------------------------------------------------
//
//  アニメーション
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  表示トランジション
//--------------------------------------------------------------------
@keyframes show {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.6;
    }
}

@keyframes hide-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
