@charset "utf-8";

//------------------------------------------------------------------------------------------------
//
//  ラッパー
//
//------------------------------------------------------------------------------------------------
.l-wrapper {}

//--------------------------------------------------------------------
//  トランジション表示
//--------------------------------------------------------------------
.js-scroll-hidden {
  transition: opacity 0.5s ease;
  opacity: 0.0;
  @include media(bulma-tablet) {
    opacity: 1;
  }
}

.js-scroll-visible {
  transition: opacity 0.5s ease;
  opacity: 1.0;
}
